<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="fb90644f-17ea-4543-be6c-8b439b22c943"
            Publisher="CN=mpagani"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="fb90644f-17ea-4543-be6c-8b439b22c943" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Prism-Commands.WindowsPhone</DisplayName>
    <PublisherDisplayName>mpagani</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Prism_Commands.WindowsPhone.App">
        <m3:VisualElements
            DisplayName="Prism-Commands.WindowsPhone"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\SmallLogo.png"
            Description="Prism-Commands.WindowsPhone"
            ForegroundText="light"
            BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png"/>
            <m3:SplashScreen Image="Assets\SplashScreen.png"/>
        </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>